/* Style sheet for Vicious Cycles website project */
/* John Kulowiec WEB.140.0001 6/25/20 */

body {
    background-color: #E7FBFB;
    }


h1 {
    font-size: 4em;
    text-align: center;
    color: #010B5B;
    
}