/* Style sheet for Vicious Cycles website project */
/* John Kulowiec WEB.140.0001 6/25/20 - update 7/8/20 */

/* main body for all pages */
body {
    background-color: #ededf1;
    margin: 0 1.5in 0 1.5in;
}

/* Style for hero banner all pages */
.container {
    max-width: 100%;
    background-color:#1F1253;
}

h1 {
    font-family: 'New Rocker', cursive;
    font-size: 4em;
    text-align: center;
    color: #FF1717;
    text-shadow: 1.5px 1.5px yellow;    
}

/* h2 top of page all pages */
.homeh2, .saleh2, .partsh2, .contacth2 {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    color: #1F1253;
    text-shadow: .5px .5px white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* navigation all pages */
nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    background-color: aquamarine;
}

/* Top image on index.html */
.sporty {
    float: left;
    padding: 10px 10px 20px 0px;
}

.opening {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    color: #020742;
    margin-bottom: 100px;
}

.gallery {
  display: inline;
  margin-top: 100px;
}

/* Footer all pages */
footer {
    padding-top: 50px;
}

/* Arrange images on Bikes for Sale page */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Arrange to two columns */
  .column {
    flex: 50%;
    max-width: 40%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* RWD - single column */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  figcaption {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;

  }

  /* Style for parts.html */
  .dealer1 {
    padding-top: 50px;
  }
  
  .dealer2 {
    padding: 0 20px 0 20px;
  }
  
  input[type=text], input[type=email] {
      background-color: white;
  }
  
  input[type=submit], input[type=file] {
      background-color: darkkhaki;
  }

  .orderForm {
    padding: 25px 0 25px 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    color: #1F1253;
    text-shadow: none;
  }

  .orderForm1 {
    padding: 25px 0 25px 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    color: #1F1253;
    text-shadow: none;
    display: inline;
  }

  p, label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    color: #020742;
    }

  